/* Overall Specifications */
body {
  background: #fff;
  line-height: 1.5;
  font-size: 14px;
  word-wrap: break-word;
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
}
a,
a:visited,
li a.active {
  color: #1aa2c0;
  text-decoration: none;
}
a:hover,
a:active,
a.active,
a:focus {
  text-decoration: underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 10px;
}
h1 {
  font-size: 24px;
}
h2 {
  font-size: 22px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 16px;
}
h6 {
  font-size: 14px;
}
p {
  margin: 10px 0;
}
p:last-child {
  margin: 10px 0 0;
}
p:first-child {
  margin: 0 0 10px;
}
del {
  text-decoration: line-through;
}
img {
  outline: 0;
}
code,
pre,
kbd,
samp,
var {
  padding: 0 .4em;
  font-size: .77em;
  font-family: "Times New Roman", Times, serif;
}
code {
  background-color: #f2f2f2;
}
pre code,
pre kbd,
pre samp,
pre var,
kbd kbd,
kbd samp,
code var {
  font-size: 100%;
  background-color: transparent;
}
pre code,
pre samp,
pre var {
  padding: 0;
}
dl {
  margin: 0;
}
dd {
  color: #898989;
  margin: 0 0 0 15px;
}
.description code {
  font-size: 1em;
}
kbd {
  background-color: #f2f2f2;
  color: #666;
  border: 1px outset #575757;
  border-radius: 5px;
  padding: 0 6px;
  margin: 0 3px;
  display: inline-block;
}
pre {
  background-color: #f2f2f2;
  white-space: pre-wrap;
  padding: 15px;
  margin: 10px 0;
  overflow: hidden;
}

/* Fonts */
body,
#site-slogan,
.ui-widget,
.comment-form label,
#page-title,
.node-title,
.block-title,
#header,
#skip-link,
ul.contextual-links,
ul.links,
ul.primary,
.item-list .pager,
div.field-type-taxonomy-term-reference,
div.messages,
div.meta,
p.comment-time,
table,
.breadcrumb,
input,
textarea,
select,
a.button,
.tabs {
  font-family: "Times New Roman", Times, serif;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
table tr th,
#today-date,
#main-menu a,
#secondary-menu a,
.comment-links ul.links li a,
#user-links a,
#user-links a:visited,
.poll .title {
  color: #222222;
}
#page-title {
  color: #926000;
}

/* Reset Styles */
caption {
  font-weight: normal;
  text-align: left;
}
blockquote {
  background: #f7f7f7;
  font-style: italic;
  border-left: 1px solid #bbb;
  padding: .5em 10px;
  margin: 1.5em 10px;
}
blockquote:before {
  line-height: .1em;
  font-size: 3em;
  color: #bbb;
  vertical-align: -.4em;
  content: "\201C";
  margin-right: .2em;
}
blockquote:after {
  line-height: .1em;
  font-size: 3em;
  color: #bbb;
  vertical-align: -.45em;
  content: "\201D";
}
blockquote > p:first-child {
  display: inline;
}

/* Table Styles */
table {
  width: 100%;
  font-size: 14px;
  color: #9b9b9b;
  border: 1px solid #d2d2d2;
  border-spacing: 0;
  margin: 0 0 10px;
}
table table {
  font-size: 14px;
}
table tr th {
  background: #d2d2d2;
  border-bottom-style: none;
}
table tr th {
   font-weight: bold;
 }
table tr th a,
table tr th a:hover {
  color: #1aa2c0;
}
table tbody tr th {
  vertical-align: top;
}
tr td,
tr th {
  padding: 4px 9px;
  border: none;
  text-align: left;
}
tr.odd {
  background: #e6e6e6;
  border-bottom: 1px solid #d2d2d2;
}
tr,
tr.even {
  background: #f0f0f0;
  border-bottom: 1px solid #d2d2d2;
}
table ul.links {
  margin: 0;
  padding: 0;
}
table ul.links li {
  padding: 0 1em 0 0;
}

/* List Styles */
ul,
ul li.leaf {
  list-style-image: url(../images/menu-leaf.png);
}
ol,
.theme-selector .operations li {
  list-style-image: none;
}
.block ol,
.block ul {
  margin: 0;
  padding: 0 0 0 14px;
}
.contextual-links-wrapper {
  font-size: small !important;
}
ul.contextual-links {
  font-size: 13px;
}
.contextual-links-wrapper a {
  text-shadow: 0 0 0 !important;
}
ul.menu li {
  margin: 0;
}
.region-content ul,
.region-content ol {
  padding: 0 0 0 15px;
  margin: 15px 0;
}
.item-list .pager {
  font-size: 14px;
  margin: 15px 0;
}
.item-list ul li {
  margin: 0;
  padding: 0 7px 0 0;
}
.item-list ul li.last {
  padding: 0;
}
ul.tips {
  padding: 0 0 0 15px;
}

/* Help */
.region-help {
  border: 1px solid #d3d7d9;
  padding: 15px;
  margin-bottom: 30px;
}

/* System Tabs */
.tabs {
  margin: 0;
}
.tabs ul.primary {
  border: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.tabs ul.primary li {
  vertical-align: bottom;
  margin: 0 0 0 -19px;
  float: left;
  display: block;
}
.tabs ul.primary li:first-child {
  margin: 0;
}
.tabs ul.primary li a {
  background-color: #7f7f7f;
  height: 25px;
  line-height: 1.9;
  font-size: 14px;
  color: #fff;
  border: none;
  padding: 0 30px 3px;
  margin: 0;
  float: left;
  display: block;
  position: relative;
}
.tabs ul.primary li:first-child a {
  padding: 0 30px 3px 10px;
}
.tabs ul.primary li a:before {
  content: "";
  height: 0;
  border-left: 30px solid transparent;
  border-top: 45px solid #7f7f7f;
  position: absolute;
  left: 0;
  top: 0;
}
.tabs ul.primary li:first-child a:before {
  display: none;
}
.tabs ul.primary li a:after {
  content: "";
  height: 0;
  border-bottom: 45px solid #7f7f7f;
  border-right: 30px solid transparent;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.tabs ul.primary li:last-child a:after {
  border-right: 30px solid #fff;
}
.tabs ul.primary li.active a,
.tabs ul.primary li:hover a {
  background-color: #e6e6e6;
  color: #c00000;
}
.tabs ul.primary li.active a:after,
.tabs ul.primary li:hover a:after {
  border-bottom: 45px solid #e6e6e6;
  border-right: 30px solid transparent;
}
.tabs ul.primary li.active:last-child a:after,
.tabs ul.primary li:hover:last-child a:after {
  border-bottom: 45px solid #e6e6e6;
  border-right: 30px solid #fff;
}
.tabs ul.primary li.active a:before,
.tabs ul.primary li:hover a:before {
  border-left: 30px solid transparent;
  border-top: 45px solid #e6e6e6;
}
.tabs ul.primary li:hover a:after {
  z-index: 1;
}
.tabs ul.secondary {
  border-bottom: none;
  padding: 7px 0;
  overflow: hidden;
}
.tabs ul.secondary li {
  float: left;
  display: block;
}
.tabs ul.secondary li:last-child {
  border-right: none;
}
.tabs ul.secondary li:first-child {
  padding-left: 0;
}
.tabs ul.secondary li a {
  padding: 3px 7px;
}
.tabs ul.secondary li a.active,
.tabs ul.secondary li a:hover {
  background: #f2f2f2;
  color: #222;
  border-bottom: none;
  border-radius: 5px;
}
ul.action-links {
  list-style: none;
  padding: 0;
  margin: 0;
  float: right;
}
ul.action-links li {
  margin-left: 10px;
  display: inline-block;
}
ul.action-links li a {
  background: url(../images/add.png) no-repeat left center;
  padding-left: 15px;
  margin: 0 0 0 10px;
}

/* Messages */
div.messages {
  margin: 0 0 10px;
}

/* Breadcrumbs */
.breadcrumb {
  font-size: 13px;
}

/* User Profile */
.profile .user-picture {
  float: none;
}

/* Password Meter */
.confirm-parent,
.password-parent {
  width: 460px;
}
.password-parent,
div.form-item div.password-suggestions {
  position: relative;
}
.password-strength-text,
.password-strength-title,
div.password-confirm {
  font-size: 11px;
}
.password-strength-text {
  margin-top: 2px;
}
div.password-confirm {
  width: 239px;
  margin-top: 24px;
}

/* Buttons */
input.form-submit,
a.button {
  background: #cecece;
  background: linear-gradient(to bottom, #ededed 0%, #cecece 100%);
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  color: #474747;
  border: 1px solid #aeaeae;
  padding: 3px 15px 4px;
  margin: 0 5px 0 0;
  cursor: pointer;
}
input.form-submit::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: -1px 0 0;
}
a.button,
a.button:visited,
a.button:hover,
a.button:focus,
a.button:active {
  color: #474747;
  text-decoration: none;
  display: block;
}
input.form-submit:hover,
input.form-submit:focus,
a.button:hover,
a.button:focus {
  background: #1aa2c0;
  background: linear-gradient(to bottom, #65c5e4 0%, #1aa2c0 100%);
  color: #fff;
  text-shadow: 1px 1px 2px #000;
}

/* Form Elements */
fieldset {
  background: #fff;
  border: 1px solid #fff;
  padding: 0 0 10px;
  margin: 10px 0 32px;
  position: relative;
  top: 12px;
}
.fieldset-wrapper {
  margin-top: 25px;
}
.filter-wrapper .fieldset-wrapper {
  margin: 15px 0 0;
}
.node-form .vertical-tabs .fieldset-wrapper {
  margin-top: 0;
}
.vertical-tabs {
  background: #fff;
}
.vertical-tabs-panes fieldset.vertical-tabs-pane {
  background: #fff;
  padding: 15px;
  top: 0;
}
.text-format-wrapper {
  margin: 0 0 15px;
}
.filter-wrapper {
  background: #fff;
  border: 1px solid #aeaeae;
  border-top: none;
  padding: 0 0 5px;
  overflow: hidden;
  top: 0;
}
.filter-help a {
  font-size: 12px;
  padding: 2px 20px 0;
}
.filter-wrapper .form-item label {
  margin-right: 10px;
}
.filter-wrapper .form-item {
  padding: 0 0 7px 7px;
}
.filter-guidelines {
  color: #898989;
  padding: 0 20px 0 5px;
}
fieldset.collapsed {
  background: transparent;
  border-radius: 0;
}
html.js fieldset.collapsed {
  height: auto;
  border: 1px solid #fff;
}
fieldset legend {
  background: #fff;
  width: 100%;
  height: 28px;
  line-height: 2;
  font-family: "Times New Roman", Times, serif;
  text-indent: 10px;
  border: 1px solid #fff;
  border-bottom: none;
  color: #3b3b3b;
  padding: 0;
  display: block;
  position: absolute;
  left: -1px;
  top: -12px;
}
fieldset legend a:hover,
fieldset legend a:focus,
fieldset legend a:active {
  text-decoration: none;
}
fieldset .fieldset-wrapper {
  padding: 0 10px;
}
fieldset .fieldset-description {
  line-height: 1.4;
  font-style: italic;
  color: #3c3c3c;
  margin: 5px 0 15px;
}
input {
  padding: 4px;
  margin: 2px 0;
}
input,
textarea {
  font-size: 12px;
  font-family: arial, sans-serif;
}
textarea {
  line-height: 1.5;
  resize: none;
}
textarea.form-textarea,
select.form-select {
  padding: 4px;
}
input.form-text,
textarea.form-textarea,
select.form-select {
  font-size: 12px;
  font-family: arial, sans-serif;
  color: #898989;
  border: 1px solid #aeaeae;
}
input.form-file {
  border: 1px solid #aeaeae;
  padding: 1px;
}
.form-managed-file .form-file {
  margin: 0 5px 0 0;
}
.form-managed-file .form-submit {
  padding: 4px 15px 5px;
}
div.password-suggestions {
  border: 0;
}
.password-suggestions ul li {
  margin-left: 10px;
}
.form-item {
  margin: 0 0 15px;
}
.form-item label {
  font-size: 14px;
}
input.form-checkbox {
  vertical-align: middle;
}
input.form-radio {
  vertical-align: top;
}
.form-type-radio label,
.form-type-checkbox label {
  margin-left: 4px;
}
.form-item .description,
.form-type-radio .description,
.form-type-checkbox .description {
  font-size: 12px;
  color: #898989;
  margin-left: 2px;
}

/* Disabled form elements */
input.form-button-disabled,
input.form-button-disabled:hover,
input.form-button-disabled:focus,
input.form-button-disabled:active,
.form-disabled input,
.form-disabled select,
.form-disabled textarea {
  background: #ededed;
  color: #717171;
  border-color: #bbb;
}
.form-disabled .grippie {
  background-color: #ededed;
  border-color: #bbb;
  padding: 0 4px;
}
.form-disabled label {
  color: #717171;
}

/* Animated throbber */
html.js input.form-autocomplete {
  background-position: 100% 4px;
}
html.js input.throbbing {
  background-position: 100% -16px;
}

/* Other Overrides */
div.admin-panel {
  border: 1px solid #d8d8d8;
  padding: 5px 10px 15px;
  margin: 0 0 15px;
}
.ui-widget-overlay {
  background: #222;
  opacity: .7;
}

/* Layout */
#page {
  width: 996px;
  margin: 0 auto;
}
#search-region,
body.header-banner #header,
body.sidebar-second #content {
  width: 100%;
  margin: 0 -100% 0 0;
  float: left;
}
.region-search {
  margin: 0 292px 0 317px;
}
#user-links {
  width: 310px;
  float: left;
}
#today-rss-contact-wrapper {
  width: 285px;
  float: right;
}
#today-date {
  float: left;
}
#rss-contact {
  float: right;
}
#pre-header {
  margin: 0 0 10px;
}
#logo {
  float: left;
}
#header {
  clear: both;
}
body.header-banner .region-header {
  margin: 0 0 0 295px;
}
.region-header-banner {
  width: 275px;
  float: left;
}
body.sidebar-second #content > .section {
  margin: 0 205px 0 0;
}
#sidebar-second {
  width: 190px;
  float: right;
}
#content-left-right {
  margin: 0 0 10px;
}
.region-content-left,
.region-content-right {
  width: 385px;
  float: left;
}
.region-content-bottom-left,
.region-content-bottom-right {
  width: 370px;
  float: left;
}
.region-content-right,
.region-content-bottom-right {
  float: right;
}
#footer {
  margin: 10px 0 0;
}

/* Search region */
.region-search {
  background: #f1f1f1;
  padding: 2px 15px;
  position: relative;
}
.region-search:before {
  content: "";
  border-left: 7px solid transparent;
  border-bottom: 33px solid #f1f1f1;
  position: absolute;
  left: -7px;
  top: 0;
}
.region-search:after {
  content: "";
  border-top: 33px solid #f1f1f1;
  border-right: 7px solid transparent;
  position: absolute;
  right: -7px;
  bottom: 0;
}

/* User links */
#user-links {
  padding: 5px 0;
}
#user-links li.first {
  padding: 0 35px 0 0;
}

/* Today date */
/*#today-date,*/
/*#today-date:before,*/
/*#today-date:after {*/
  /*background-color: #d1d1d1;*/
/*}*/
#today-date {
  background: url(../images/date-icon.png) no-repeat 15px 50% #d1d1d1;
  padding: 6px 15px 6px 37px;
  position: relative;
}
#today-date:before {
  content: "";
  border-left: 7px solid transparent;
  border-bottom: 33px solid transparent;
  position: absolute;
  left: -7px;
  top: 0;
}
#today-date:after {
  content: "";
  border-top: 33px solid transparent;
  border-right: 7px solid transparent;
  position: absolute;
  right: -7px;
  bottom: 0;
}

/* Rss and contact */
#rss-contact {
  padding: 8px 0 0;
}

/* Pre-header */
#pre-header {
  background: url(../images/pre-header.jpg) no-repeat 50% 0;
  height: 78px;
  padding: 0 0 0 10px;
  overflow: hidden;
}

/* Logo */
#logo {
  margin: 0 10px 0 0;
  float: left;
  display: block;
}
#logo img {
  display: block;
}

/* Site name and slogan */
#name-and-slogan {
  padding: 20px 0 0;
  overflow: hidden;
}
#site-name {
  line-height: 1;
  font-size: 36px;
  margin: 0;
}
#site-name:first-letter {
  color: #f81600;
}
#site-name a {
  color: #1f2122;
  text-shadow: 1px 1px 2px #000000;
}
#site-name a:hover {
  text-decoration: none;
}
#site-slogan {
  line-height: 1;
  font-size: 16px;
  color: #1f2122;
}

/* Main menu */
#main-menu {
  background: #e7e7e7;
  padding: 0;
  margin: 0 0 10px;
  display: block;
}
#main-menu li {
  border-right: 1px solid #d3d3d3;
  float: left;
  display: block;
}
#main-menu a {
  font-size: 16px;
  padding: 2px 5px;
  display: block;
}
#main-menu a.active,
#main-menu a:hover {
  background: #cf0100;
  background: linear-gradient(to bottom, #fd1900 0%, #cf0100 100%);
  color: #ffffff;
  text-decoration: none;
}

/* Main content */
.region-content {
  background: #f1f1f1;
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  padding: 15px 15px 0;
  margin: 0 0 15px;
  overflow: hidden;
}
body.page-node-view .region-content,
body.page-comment-reply .region-content,
body.front .region-content {
  background: none;
  border: none;
  padding: 0;
  margin: 0 0 15px;
  overflow: hidden;
}

/* Content bottom left and right */
#content-bottom-left-right {
  background: #f1f1f1;
  padding: 5px 15px;
  margin: 0 0 10px;
  overflow: hidden;
  position: relative;
}
#content-bottom-left-right:after {
  background: #d8d8d8;
  content: "";
  width: 1px;
  position: absolute;
  left: 50%;
  top: 15px;
  bottom: 15px;
}

/* Footer */
#footer {
  background: url(../images/footer.jpg) no-repeat 50% 0;
  height: 37px;
  padding: 10px 0;
  overflow: hidden;
  position: relative;
}
#developer-logo {
  background: url(../images/developer-logo.png);
  width: 18px;
  height: 30px;
  display: block;
  position: absolute;
  top: 15px;
  right: 15px;
}
#developer-logo:hover {
  background-position: 0 -30px;
}

/* Copyright */
#copyright {
  font-size: 12px;
  color: #9f9f9f;
  text-align: center;
  margin: 10px 0 0;
}

/* Secondary menu */
#secondary-menu {
  text-align: center;
  display: block;
  margin: 0;
}

/* Node */
.node {
  background: #f1f1f1;
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  padding: 15px 15px 0;
}
.node.node-teaser {
  margin: 10px 0 0;
}
.node.node-teaser:first-child {
  margin: 0;
}
.node.node-preview {
  margin: 0 0 10px;
}
.comment-form .node {
  background: none;
  border-bottom: none;
  padding: 10px 0 0;
}
.node .content {
  text-align: justify;
  padding: 0 0 15px !important;
}
.node-bottom {
  border-top: 1px solid #d8d8d8;
  padding: 10px 15px;
  margin: 0 -15px;
  overflow: hidden;
}
.node-bottom li.first {
  padding-left: 0;
}
.node-bottom .submitted {
  float: right;
}
.node-bottom .submitted .post-date,
.node-bottom .submitted .username {
  background: url(../images/date-icon.png) no-repeat 0 50%;
  padding: 0 0 0 25px;
  display: block;
}
.node-bottom .submitted .post-date,
.node-bottom .submitted span.username {
  color: #6e6e6e;
}
.node-bottom .submitted .username {
  background: url(../images/user-icon.png) no-repeat 3px 50%;
}

/* Book */
.book-navigation {
  margin: 10px 0 0;
}
.book-navigation ul.menu {
  border-top-color: #d8d8d8;
  padding: 10px 0 0 15px;
}
.book-navigation .page-links {
  border-top-color: #d8d8d8;
  border-bottom-color: #d8d8d8;
}

/* Comment */
.comment {
  background: #e7e7d6;
  border: 1px solid #d8d8d8;
  padding: 0 15px;
  margin: 10px 0 0;
}
.comment.even {
  background: #f1f1f1;
}
.comment:first-child,
body.page-comment-reply .comment {
  margin: 0;
}
body.page-comment-reply .comment.comment-preview {
  margin: 0 0 15px;
}
.comment .content {
  text-align: justify;
  padding: 0;
  margin: 0 0 10px;
  overflow: hidden;
}
.comment .submitted {
  color: #6e6e6e;
}
.comment-top {
  border-bottom: 1px solid #d8d8d8;
  padding: 10px 15px;
  margin: 0 -15px 15px;
}
.comment-top .permalink {
  text-decoration: none;
  display: block;
  float: right;
}
.comment-top .permalink:hover {
  text-decoration: underline;
}
.comment .new {
  font-size: 12px;
  color: #f00;
}
.comment-links ul.links {
  padding: 0;
  margin: 0;
  display: block;
  float: right;
}
.comment-links ul.links li {
  vertical-align: bottom;
  padding: 0;
  margin: 0;
  float: left;
  display: block;
}
.comment-links ul.links li a {
  background: #e7e7d6;
  height: 19px;
  line-height: 1.3;
  font-size: 14px;
  border-bottom: 1px solid #d8d8d8;
  padding: 0 40px 0 20px;
  margin: 0;
  display: block;
  position: relative;
}
.comment-links ul.links.even li a {
  background: #f1f1f1;
}
.comment-links ul.links li.last a {
  border-right: 1px solid #d8d8d8;
  padding: 0 20px;
}
.comment-links ul.links li a:hover,
.comment-links ul.links li a.active {
  background: #f1f1f1;
  text-decoration: none;
}
.comment-links ul.links.even li a:hover,
.comment-links ul.links.even li a.active {
  background: #e7e7d6;
}
.comment-links ul.links li a:after {
  content: "";
  background: url(../images/comment-links.png) no-repeat 0 0;
  width: 21px;
  height: 20px;
  display: block;
  position: absolute;
  left: -21px;
  top: 0;
}
.comment-links ul.links.even li a:after {
  background-position: 0 -20px;
}
.comment-links ul.links li:hover a:after,
.comment-links ul.links li a.active:after {
  background-position: 0 -20px;
}
.comment-links ul.links.even li:hover a:after,
.comment-links ul.links.even li a.active:after {
  background-position: 0 0;
}
.comment-title {
  line-height: 1;
}
.comment .user-picture {
  margin: 0 10px 0 0;
  float: left;
}
.comment .user-signature {
  color: #898989;
  border-top: 1px solid #d8d8d8;
  padding: 10px 0 0;
  margin: 0;
  clear: both;
}

/* Comment form */
.comment-form-wrapper,
body.page-comment-reply form.comment-form {
  background: #f1f1f1;
  border: 1px solid #d8d8d8;
  padding: 10px 10px 0;
  margin: 15px 0 0;
}

/* Block */
#content-left-right .block {
  margin: 20px 0 0;
}
#content-left-right .block:first-child {
  margin: 0;
}
.block-title {
  background: #1ca3c1;
  background: linear-gradient(to bottom, #65c5e4 0%, #1ca3c1 100%);
  line-height: 1;
  font-size: 16px;
  color: #fff;
  text-shadow: 1px 1px 2px #000;
  padding: 4px 10px 5px;
  margin: 0;
}
#content-bottom-left-right .block-title {
  background: none;
  color: #898989;
  text-shadow: none;
  padding: 4px 0 5px;
}
.block .content {
  padding: 10px 0;
}
#sidebar-second .block .content {
  padding: 10px;
}
.block.no-title .content {
  padding: 0 0 10px;
}
.block-system.no-title .content {
  padding: 0;
}
.region-search .block .content {
  padding: 0;
}
#content-left-right .block .content {
  background: #f1f1f1;
  color: #898989;
  border-bottom: 1px solid #d8d8d8;
  padding: 10px 10px 0;
}
#sidebar-second .block .content,
#content-bottom-left-right .block .content {
  color: #898989;
}
.block .content img {
  max-width: 100%;
  height: auto;
}

/* Search */
.region-search #block-search-form .form-text {
  width: 260px;
}

/* User */
.profile {
  margin: 15px 0 0;
}
.profile:first-child {
  margin: 0;
}
.user-picture {
  box-shadow: 1px 1px 1px #222;
}
.user-picture img {
  display: block;
}
.user-signature {
  font-size: 12px;
}
#block-user-login .form-item {
  margin: 0 0 5px;
}

/* Poll */
.poll .vote-form .choices .title {
  font-weight: normal;
}
.poll .title {
  font-weight: normal;
  font-size: 16px;
  margin: 0 0 10px;
}
.poll .vote-form .form-submit {
  margin: 0 0 15px;
}
.poll .bar {
  background: #fff;
  border: 1px solid #bababa;
  box-shadow: 0 2px 3px #bababa inset;
}
.poll .bar .foreground {
  background: #dc0000;
  background: linear-gradient(to bottom, #ff6666 0%, #dc0000 100%);
  height: 15px;
  box-shadow: 0 2px 3px #bababa inset;
}
.poll .percent {
  font-size: 12px;
}
.poll .total {
  margin: 0 0 10px;
}

/* Recent comments */
#content-bottom-left-right #block-comment-recent .content li {
  padding: 0;
}
#content-bottom-left-right #block-comment-recent .content li a,
#content-bottom-left-right #block-comment-recent .content li span {
  display: block;
  float: left;
}
#content-bottom-left-right #block-comment-recent .content li span {
  float: right;
}
